@model BlogShopMVC.ViewModels.BlogViewModel

@{
    ViewBag.Title = "IndexBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @foreach (var article in Model.articles)
    {
    <section>
        <img src="~/Content/PicturesProducts/@article.NameOfImageArticle" alt="obrazek" border="0" align="left">

        <div>
            <p align="right">
                <b>@article.ArticleTitle</b>
                <br />
                @article.ArticleShortcut
                <br /><br />
            </p>

        </div>

        <a class="button3" href="@Url.Action("ArticleDetails", "Blog", new { id = article.ArticleId})">Więcej</a>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </section>

    }
</div>
