@model BlogShopMVC.ViewModels.HomeViewModel
@using BlogShopMVC.Infrastructure
@{
    ViewBag.Title = "Blog Shop";
}
<ul>
    <li>
        <a href="link" style="background-image: url(../Content/Kategorie/aspnet.png); ">
            Menu
        </a>
    </li>

</ul>
<br />
        </nav>
<section>
    <ul class="KursyTrzyKolumny duzaListaKursy">
        @foreach (var category1 in Model.Products2)
        {
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="productLink" href="link">
                        <img class="kurs" src="@Url.IconProductFileName(category1.IconProductFileName)" />
                        <h1>
                            @category1.ProductMake , @category1.ProductModel, @category1.ProductPrice
                        </h1>
                    </a>
                </article>
            </li>
        }

    </ul>
</section>
<br />
<br />
<br />


<a class="button1" href="#">Kup teraz</a>
<a class="button2" href="#">Więcej</a>


<br />
<br />
<br />
<br />
<br />
<br />
<br />

