
@{
    ViewBag.Title = "kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>kontakt</h2>
<p>
    <b>KONTAKT Z NASZSKLEPINTERNETOWY</b>
    <br />
    <br />
    I piętro
    <br />
    ul. Szpitalna 40
    <br />
    20-005 Lublin
    <br />
    NIP 675-12-99-712
    <br />
    <br />
    <br />
    <b>MANAGER</b>
    <br /><br />
    Robert Paradowski
    <br />
    +48 502 296 944
    <br />
    info@naszsklepinternetowy.pl
    <br />
    <br />
    <br />
    <b>DYREKTOR</b>
    <br /><br />
    Michał Mróz
    <br />
    +48 788 496 365
    <br />
    <br />
    <br />
    SPOTKAJMY SIĘ W KONTAKCIE!
</p>
